<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-lg-auto">

                <div class="row mb-8">
                    <div class="col-lg-8 mx-lg-auto text-center">
                        <div class="section-title h2 mb-3">
                            <h2 class="mb-0">Bana Yazın</h2>
                            <span class="title-letter">C</span>
                        </div>
                        <p>İletişim ve görüşlerinizi bana bildirmeye ne dersiniz? Aşağıdaki iletişim kanallarından bana yazabilir ya da ofisime uğrayabilirsiniz.</p>
                    </div>
                </div>

                <div class="row mb-8">
                    <div class="col-md-4 mb-5 mb-md-0">
                        <div class="feature-block">
                            <div class="feature-icon text-primary mb-4">
                                <div class="mx-auto">
                                    <i class="ti-mobile"></i>
                                </div>
                            </div>
                            <p class="text-center">
                                (0091) 1111 1234567<br />
                                (084) 2222 1234567
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 mb-5 mb-md-0">
                        <div class="feature-block">
                            <div class="feature-icon text-primary mb-4">
                                <div class="mx-auto">
                                    <i class="ti-location-pin"></i>
                                </div>
                            </div>
                            <p class="text-center">
                                Pınarbaşı mah, Konyaaltı, Antalya<br />
                                Türkiye
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="feature-block">
                            <div class="feature-icon text-primary mb-4">
                                <div class="mx-auto">
                                    <i class="ti-email"></i>
                                </div>
                            </div>
                            <p class="text-center">
                                <a href="mailto:support@example.com" class="text-dark">support@example.com</a><br />
                                <a href="mailto:hello@example.com" class="text-dark">hello@example.com</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="contact-form">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            @* autocomplete="off" tarayıcının eski verileri hatırlamasını engeller *@
                            <form class="mb-0" id="contactForm" action="/Default/SendMessage" method="post" autocomplete="off">
                                <div class="form-row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group error-text-white">
                                            <input type="text" name="NameSurname" placeholder="Adınız Soyadınız" class="form-control" required>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <div class="form-group error-text-white">
                                            <input type="email" name="EmailAddress" placeholder="E-posta Adresiniz" class="form-control" required>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group error-text-white">
                                            <input type="text" name="Subject" placeholder="Konu" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-12 mb-4">
                                        <div class="form-group error-text-white">
                                            <textarea name="MessageDetail" placeholder="Mesajınız" class="form-control" rows="7" required></textarea>
                                        </div>
                                    </div>

                                    <div class="col-12 text-center">
                                        <button class="btn btn-primary" type="submit">Mesaj Gönder</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>